@font-face {
  font-family: 'OSGeo-symbols-set';
  src:  url('../fonts/OSGeo-symbols-set.eot');
  src:  url('../fonts/OSGeo-symbols-set.eot#iefix') format('embedded-opentype'),
    url('../fonts/OSGeo-symbols-set.ttf') format('truetype'),
    url('../fonts/OSGeo-symbols-set.woff') format('woff'),
    url('../fonts/OSGeo-symbols-set.svg#OSGeo-symbols-set') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="osgeo-"], [class*=" osgeo-"] {
  font-family: 'OSGeo-symbols-set';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.osgeo-compass:before {
  content: "\e000";
}
.osgeo-local-chapter:before {
  content: "\e001";
}
.osgeo-board:before {
  content: "\e002";
}
.osgeo-committee:before {
  content: "\e003";
}
.osgeo-officer:before {
  content: "\e004";
}
.osgeo-sponsor:before {
  content: "\e005";
}
.osgeo-charter-member:before {
  content: "\e006";
}
.osgeo-code-of-conduct:before {
  content: "\e007";
}
.osgeo-live:before {
  content: "\e008";
}
.osgeo-code-sprint:before {
  content: "\e009";
}
.osgeo-gsoc:before {
  content: "\e010";
}
.osgeo-travelgrant:before {
  content: "\e011";
}
.osgeo-un-opengis:before {
  content: "\e012";
}
.osgeo-open-geoscience:before {
  content: "\e013";
}
.osgeo-geoforall:before {
  content: "\e014";
}
.osgeo-foss4g:before {
  content: "\e015";
}
.osgeo-gdal:before {
  content: "\e016";
}
.osgeo-grass-gis:before {
  content: "\e017";
}
.osgeo-mapserver:before {
  content: "\e018";
}
.osgeo-postgis:before {
  content: "\e019";
}
.osgeo-qgis:before {
  content: "\e020";
}
.osgeo-geonetwork:before {
  content: "\e021";
}
.osgeo-pycsw:before {
  content: "\e022";
}
.osgeo-geonode:before {
  content: "\e023";
}
.osgeo-geotools:before {
  content: "\e024";
}
.osgeo-geoserver:before {
  content: "\e025";
}
.osgeo-orfeotoolbox:before {
  content: "\e026";
}
.osgeo-gvsig:before {
  content: "\e027";
}
.osgeo-openlayers:before {
  content: "\e028";
}
.osgeo-mapbender:before {
  content: "\e029";
}
.osgeo-mapfish:before {
  content: "\e030";
}
.osgeo-pywps:before {
  content: "\e031";
}
.osgeo-mapguide:before {
  content: "\e032";
}
.osgeo-marble:before {
  content: "\e033";
}
.osgeo-geomoose:before {
  content: "\e034";
}
.osgeo-geomajas:before {
  content: "\e035";
}
.osgeo-zoo-project:before {
  content: "\e036";
}
.osgeo-osgeo4w:before {
  content: "\e037";
}
.osgeo-teamengine:before {
  content: "\e038";
}
.osgeo-istsos:before {
  content: "\e039";
}
.osgeo-opticks:before {
  content: "\e040";
}
.osgeo-geowebcache:before {
  content: "\e041";
}
.osgeo-pgrouting:before {
  content: "\e042";
}
.osgeo-getit:before {
  content: "\e043";
}
.osgeo-prontoraster:before {
  content: "\e044";
}
.osgeo-portablegis:before {
  content: "\e045";
}
.osgeo-mapcentia:before {
  content: "\e046";
}

